In [1]:
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np

In [2]:
#loading data from sklearn.datasets
data = load_boston()
df = pd.DataFrame(data['data'], columns=data['feature_names'])
df['target'] = data['target']

In [3]:
#head of the data frame with the first 5 rows
df.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [4]:
#stats overview of a data frame
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [5]:
#examining index & columns
print("Index type:", type(df.index))
print("Columns type:", type(df.columns))

Index type: <class 'pandas.core.indexes.range.RangeIndex'>
Columns type: <class 'pandas.core.indexes.base.Index'>

In [6]:
#list of columns
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'target'],
      dtype='object')

In [7]:
#Setting up the the new index
df_wind = df.set_index(['PTRATIO', 'RM'])
#the data is not necessary sorted after the we have set up a new index, hence use sort_index()
df_wind = df_wind.sort_index()
df_wind.head()

                  CRIM    ZN  INDUS  CHAS    NOX    AGE     DIS  RAD    TAX  \
PTRATIO RM
12.6    7.107  0.04666  80.0   1.52   0.0  0.404   36.6  7.3090  2.0  329.0
        7.274  0.03768  80.0   1.52   0.0  0.404   38.3  7.3090  2.0  329.0
        7.287  0.04011  80.0   1.52   0.0  0.404   34.1  7.3090  2.0  329.0
13.0    5.560  0.76162  20.0   3.97   0.0  0.647   62.8  1.9865  5.0  264.0
        6.842  0.65665  20.0   3.97   0.0  0.647  100.0  2.0107  5.0  264.0

                    B  LSTAT  target
PTRATIO RM
12.6    7.107  354.31   8.61    30.3
        7.274  392.20   6.62    34.6
        7.287  396.90   4.08    33.3
13.0    5.560  392.40  10.45    22.8
        6.842  391.93   6.90    30.1

In [8]:
#Slicing df_wind by first index and second index
df_wind.loc[(12.6, 7.107),:]

,,CRIM,ZN,INDUS,CHAS,NOX,AGE,DIS,RAD,TAX,B,LSTAT,target
PTRATIO,RM,,,,,,,,,,,,
12.6,7.107,0.04666,80.0,1.52,0.0,0.404,36.6,7.309,2.0,329.0,354.31,8.61,30.3

In [9]:
#slicing df_wind by the first and second index through lists
df_wind.loc[([12.6, 13.0], [7.107, 5.560]), :]

,,CRIM,ZN,INDUS,CHAS,NOX,AGE,DIS,RAD,TAX,B,LSTAT,target
PTRATIO,RM,,,,,,,,,,,,
12.6,7.107,0.04666,80.0,1.52,0.0,0.404,36.6,7.3090,2.0,329.0,354.31,8.61,30.3
13.0,5.560,0.76162,20.0,3.97,0.0,0.647,62.8,1.9865,5.0,264.0,392.40,10.45,22.8

In [10]:
#setting up a new data frame
trials = pd.DataFrame({'id':[1,2,3,4], 
                       'treatment':['A','A','B','B'], 
                       'gender':['F','M','F','M'], 
                       'response':[5,3,8,9]})
trials

   id treatment gender  response
0   1         A      F         5
1   2         A      M         3
2   3         B      F         8
3   4         B      M         9

In [11]:
#slicing using square brackets
trials['treatment'][2:5]

2    B
3    B
Name: treatment, dtype: object

In [12]:
#slicing using attribute and row label
trials.treatment[2:3]

2    B
Name: treatment, dtype: object

In [13]:
#slicing using .loc accessor (for rows)
trials.loc[2,:]

id           3
treatment    B
gender       F
response     8
Name: 2, dtype: object

In [14]:
#slicing using .iloc accessor
trials.iloc[:, 1]

0    A
1    A
2    B
3    B
Name: treatment, dtype: object

In [15]:
#slicing useing .iloc for both coordinates (as a result - dataframe)
trials.iloc[1:2, 1:]

  treatment gender  response
1         A      M         3

In [16]:
#slicing using lists rather than slides
trials.iloc[[0,1], 0:2]

   id treatment
0   1         A
1   2         A

In [17]:
#selecting only some columns and getting dataframe as a result
trials[['treatment', 'response']]

  treatment  response
0         A         5
1         A         3
2         B         8
3         B         9

In [18]:
#slicing
trials['treatment'][1:3]

1    A
2    B
Name: treatment, dtype: object

In [19]:
#more types of slicing (through the labels of columns)
trials.loc[:, 'gender':'response']

  gender  response
0      F         5
1      M         3
2      F         8
3      M         9

In [20]:
#Creating a boolean series
trials.response>3

0     True
1    False
2     True
3     True
Name: response, dtype: bool

In [21]:
#filter
trials[trials.response>3]

   id treatment gender  response
0   1         A      F         5
2   3         B      F         8
3   4         B      M         9

In [22]:
#combining filters (and)
trials[(trials.response>3) & (trials.gender == 'F')]

   id treatment gender  response
0   1         A      F         5
2   3         B      F         8

In [23]:
#combining filters (or)
trials[(trials.response>6) | (trials.gender == 'F')]

   id treatment gender  response
0   1         A      F         5
2   3         B      F         8
3   4         B      M         9

In [24]:
#seeting a double index
df_trials = trials.set_index(['id', 'treatment'])
df_trials

             gender  response
id treatment
1  A              F         5
2  A              M         3
3  B              F         8
4  B              M         9

In [25]:
#inner slicing of double index
df_trials.loc[(slice(None), slice('A')), :]

             gender  response
id treatment
1  A              F         5
2  A              M         3

In [26]:
#reshaping by pivoting
trials.pivot(index = 'treatment', columns = 'gender', values = 'response')

gender     F  M
treatment
A          5  3
B          8  9

In [27]:
#Pivoting multiple columns
trials.pivot(index = 'treatment', columns = 'gender')

          id    response
gender     F  M        F  M
treatment
A          1  2        5  3
B          3  4        8  9

### Stacking and unstacking dataframes

In [28]:
trial_df = trials.set_index(['treatment', 'gender'])
trial_df

                  id  response
treatment gender
A         F        1         5
          M        2         3
B         F        3         8
          M        4         9

In [29]:
#unstacking
trial_df.unstack(level='gender')

          id    response
gender     F  M        F  M
treatment
A          1  2        5  3
B          3  4        8  9

In [30]:
#unstacking
trial_df.unstack(level=1)

          id    response
gender     F  M        F  M
treatment
A          1  2        5  3
B          3  4        8  9

In [31]:
#swapping levels
swapped = trial_df.swaplevel(0,1)
print("swapped dataframe", swapped)
#sometime sorting of index is needed
swapped.sort_index()

swapped dataframe                   id  response
gender treatment
F      A           1         5
M      A           2         3
F      B           3         8
M      B           4         9

                  id  response
gender treatment
F      A           1         5
       B           3         8
M      A           2         3
       B           4         9

In [32]:
#setting a larger trials data frame (note, that pivoting on this data is not longer possible directly!)
trials = pd.DataFrame({'id':[1,2,3,4,5,6,7,8], 
                       'treatment':['A','A','A', 'A','B','B','B','B'], 
                       'gender':['F','M','M','F','F','M','M','F'], 
                       'response':[5,3,8,9,1, 8, 4, 6]})
trials

   id treatment gender  response
0   1         A      F         5
1   2         A      M         3
2   3         A      M         8
3   4         A      F         9
4   5         B      F         1
5   6         B      M         8
6   7         B      M         4
7   8         B      F         6

In [33]:
#pivoting for tables with non-unique values
#in case the table cannot pivot correctly (if there is more than one value per row/column)
#aggregation function can be applied

trials.pivot_table(index = 'treatment', 
             columns = 'gender', 
             values = 'response', 
            aggfunc = sum)

gender      F   M
treatment
A          14  11
B           7  12

In [34]:
#boolean filter and count
trials.loc[trials['treatment']=='A'].count()

id           4
treatment    4
gender       4
response     4
dtype: int64

In [35]:
#groupby and count
trials.groupby('treatment').count()

           id  gender  response
treatment
A           4       4         4
B           4       4         4

Aggregation/reduction functions:
- mean(), std(), sum(), first(), last(), min(), max()
- aggregation can be make custom (any function)

In [36]:
#groupby by one column and aggregating by another
trials.groupby('treatment')['response'].sum()

treatment
A    25
B    19
Name: response, dtype: int64

In [37]:
#groupby by one column and aggregating by anoather
trials.groupby('treatment')['response'].mean()

treatment
A    6.25
B    4.75
Name: response, dtype: float64

In [38]:
#categorical data
trials.gender.unique()
#set it to categorical type
trials.gender = trials.gender.astype('category')
trials.gender

0    F
1    M
2    M
3    F
4    F
5    M
6    M
7    F
Name: gender, dtype: category
Categories (2, object): [F, M]

Categorical data advantages: 
- uses less memory, 
- speeds up operations like groupby()

In [39]:
#custom aggregation using dictionaries
trials.groupby('treatment')[['gender', 'response']].agg({'gender':'count', 'response': sum})

           gender  response
treatment
A               4        25
B               4        19

In [40]:
#More on groupby object
splitting = trials.groupby('treatment')
type(splitting)

pandas.core.groupby.groupby.DataFrameGroupBy

In [41]:
type(splitting.groups)

dict

In [42]:
print(splitting.groups.keys())

dict_keys(['A', 'B'])

In [43]:
#groupby object: iteration
for group_name, group in splitting:
    avg = group['response'].mean()
    print(group_name, avg)

A 6.25
B 4.75

In [44]:
#groupby object: iteration and filtering
for group_name, group in splitting:
    avg = group.loc[group['response']>4].mean()['response']
    print(group_name, avg)

A 7.333333333333333
B 7.0